// Variables

// Max - widths Container

// $sm: 320px;
// $md: 750px;
// $xl: 1200px;

$spacer: 15px;
$spacer-sm: 25px;
$spacer-md: 35px;
$spacer-xl: 40px;



// COLORS

$white: #ffffff;
$black: #000000;
$red: #c65353;
$grey: #909090;
$white-menu: rgba(255, 255, 255, 0.9);


// TYPOGRAPHY

$Raleway: 'Raleway', sans-serif;
$Open: 'Open Sans', sans-serif;


